@font-face {
  font-family: 'FFFFORWA';
  src: local('FFFFORWA'), url(./assets/font/FFFFORWA.TTF) format('truetype');
}
@font-face {
  font-family: 'ChessType';
  src: local('ChessType'), url(./assets/font/ChessType.ttf) format('truetype');
}
@font-face {
  font-family: 'TickingTimebombBB';
  src: local('TickingTimebombBB'), url(./assets/font/TickingTimebombBB.ttf) format('truetype');
}
@font-face {
  font-family: 'editundo';
  src: local('editundo'), url(./assets/font/editundo.ttf) format('truetype');
}
@font-face {
  font-family: 'edundot';
  src: local('edundot'), url(./assets/font/edundot.ttf) format('truetype');
}
@font-face {
  font-family: 'edunline';
  src: local('edunline'), url(./assets/font/edunline.ttf) format('truetype');
}
@font-face {
  font-family: 'Technology';
  src: local('Technology'), url(./assets/font/Technology.ttf) format('truetype');
}

.time {
  font-family: Technology;
  /* font-family: edunline; */
  /* font-family: edundot; */
  /* font-family: editundo; */
  /* font-family: TickingTimebombBB; */
  /* font-family: FFFFORWA; */
  /* font-family: ChessType; */
  color: red;
}

.alarm {
  /* font-family: editundo; */
  font-family: Technology;
  /* font-family: TickingTimebombBB; */
  /* font-family: FFFFORWA; */
  /* font-family: ChessType; */
}

/* .title {} */