@font-face {
  font-family: 'Technology';
  src: local('Technology'), url(./assets/font/Technology.ttf) format('truetype');
}

.time {
  font-family: Technology;
  color: red;
}

.alarm {
  font-family: Technology;
}
